.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardTop {
    width: 18rem; top: 15px;
}
.cardImg{
    width: 200px; margin-top: 20; padding-left: 5em;
}
.cardButton{
    position: relative; left: 40%;
}
.modalInp{
    border-top: none;
    border-left: none;
    border-right: none;
}